<div class="count-down">
  <div class="count-down__inner">
    <h5 class="h5 count-down__title">Další zápas SFC</h5>
    <div
      id="js-timer"
      class="timer"
      role="timer"
      aria-label="A timer, counting down to {{ eventName }}"
      data-endtime="2024-07-22 21:00:00"
    >
      <span class="timer__item" id="timer-days">
        <span class="timer__value h1">{{ days }}</span>
        <span class="timer__label timer__label-days">dny</span>
      </span>
      <span class="timer__item" id="timer-hours">
        <span class="timer__value h1">{{ hours }}</span>
        <span class="timer__label">hodiny</span>
      </span>
      <span class="timer__item" id="timer-minutes">
        <span class="timer__value h1">{{ minutes }}</span>
        <span class="timer__label">minuty</span>
      </span>
      <span class="timer__item" id="timer-seconds">
        <span class="timer__value h1">{{ seconds }}</span>
        <span class="timer__label">vteřiny</span>
      </span>
    </div>
  </div>
</div>
